@import '../../node_modules/@syncfusion/ej2-base/styles/fluent2.css';
@import '../../node_modules/@syncfusion/ej2-icons/styles/fluent2.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/fluent2.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/fluent2.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/fluent2.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/fluent2.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/fluent2.css';
@import '../../node_modules/@syncfusion/ej2-layouts/styles/fluent2.css';
@import '../../node_modules/@syncfusion/ej2-grids/styles/fluent2.css';
@import '../../node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import "../../node_modules/@syncfusion/ej2-react-filemanager/styles/fluent2.css";

/* Unset the default text alignment and border styles */
.control-pane {
  text-align: unset;
}

.control-container {
  border-width: unset;
  border-style: unset;
}

/* NoDataSource component styles */
#NoDataSource {
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

#NoDataSource h3 {
  color: #575757;
  font-size: 16px;
}

/* Dark mode styles */
body.e-dark-mode #NoDataSource h3 {
  color: #e0e0e0;
}

body.e-dark-mode #NoDataSource {
  background-color: #333333;
}