@import '../../../../node_modules/@syncfusion/ej2-fluent2-theme/styles/rich-text-editor/index-lite.css';

/* Unset the default text alignment and border styles */
.control-pane {
  text-align: unset;
}

.control-container {
  border-width: unset;
  border-style: unset;
}
